@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Noto Sans Bengali", sans-serif;
}

@layer components {
    .center {
        @apply flex items-center justify-center text-center;
    }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
    h1 {
        @apply text-[56px] font-bold leading-[72px];
    }
    h2 {
        @apply text-5xl font-bold;
    }
    h3 {
        @apply text-[38px] font-bold leading-[52px];
    }
    h4 {
        @apply text-3xl font-bold;
    }
}
